
node_modules/
**/node_modules/


.env
.env.*
**/.env
**/.env.*
!**/.env.example


dist/
build/
**/dist/
**/build/
**/*.tsbuildinfo


logs/
**/logs/
*.log
npm-debug.log*


.DS_Store
Thumbs.db


.vscode/
.idea/


.pnp
.pnp.js
.yarn/cache
.yarn/unplugged